@charset "UTF-8";
/* loading spinner index.html */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@-webkit-keyframes spinningOne {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 3px;
    z-index: 1;
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    border-width: 2px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 3px;
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    border-width: 2px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 3px;
    z-index: -2;
    opacity: 0;
  }
}
@keyframes spinningOne {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 3px;
    z-index: 1;
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    border-width: 2px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 3px;
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    border-width: 2px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 3px;
    z-index: -2;
    opacity: 0;
  }
}

/* apparition de la page index */
@-webkit-keyframes background_spinning {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes background_spinning {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* apparition de la page menu */
@-webkit-keyframes apparition {
  from {
    opacity: 0;
    margin-bottom: 100px;
  }
  to {
    opacity: 1;
    margin-bottom: 5px;
  }
}
@keyframes apparition {
  from {
    opacity: 0;
    margin-bottom: 100px;
  }
  to {
    opacity: 1;
    margin-bottom: 5px;
  }
}

/* remplissage coeur favori */
@-webkit-keyframes heart {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes heart {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  max-width: 1500px;
  margin: auto;
  padding: 0;
}

button {
  background: linear-gradient(175deg, #ff79d9, #9356DC);
  border-radius: 20px 20px 20px 20px;
  border-width: 0px;
  -webkit-box-shadow: 1px 2px 10px 1px grey;
          box-shadow: 1px 2px 10px 1px grey;
  height: 40px;
  color: white;
  width: auto;
  padding: 0px 10px 0px 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 20px;
}

button:hover {
  background: linear-gradient(175deg, #ffa9e7, #a275da);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 60px;
}

header .fa-arrow-left {
  padding: 19px 0px 0px 10px;
  color: #353535;
}

header a {
  display: block;
  margin: auto;
}

header .logo_menu {
  width: 40%;
  padding: 15px 30% 10px 27%;
}

header .logo {
  width: 40%;
  padding: 15px 30% 10px 30%;
}

header .hidden_index {
  display: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #353535;
  color: white;
  line-height: 1.5em;
  padding-left: 40px;
  padding-bottom: 40px;
}

footer img {
  display: block;
  -webkit-filter: invert(98%) sepia(89%) saturate(0%) hue-rotate(322deg) brightness(108%) contrast(102%);
          filter: invert(98%) sepia(89%) saturate(0%) hue-rotate(322deg) brightness(108%) contrast(102%);
  width: 100px;
  padding: 20px 0px 10px 0px;
}

footer .fas {
  width: 20px;
  padding-right: 5px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

.background {
  width: 100%;
}

.background img {
  width: 100%;
  height: 250px;
  background-position: top;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.section_menu {
  background-color: #f6f6f6;
  border-radius: 20px 20px 0px 0px;
  font-family: "Roboto";
  margin-top: -45px;
  position: relative;
  padding-bottom: 1px;
}

.section_menu .nom_restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.section_menu .nom_restaurant h2 {
  font-size: 1.4em;
  display: inline-block;
  padding: 20px 0px 0px 20px;
  font-family: "Shrikhand";
  font-weight: lighter;
}

.section_menu .nom_restaurant input {
  visibility: hidden;
}

.section_menu .nom_restaurant input + label {
  display: block;
}

.section_menu .nom_restaurant input + label .fas {
  display: none;
}

.section_menu .nom_restaurant input + label .far {
  display: block;
  padding: 30px 20px 30px 10px;
  background: #353535;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.section_menu .nom_restaurant input:checked + label {
  -webkit-animation: 300ms heart linear;
          animation: 300ms heart linear;
}

.section_menu .nom_restaurant input:checked + label .fas {
  padding: 30px 20px 30px 10px;
  display: block;
  background: linear-gradient(175deg, #ff79d9, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.section_menu .nom_restaurant input:checked + label .far {
  display: none;
}

.section_menu .categorie {
  padding-left: 20px;
  font-size: 0.9em;
}

.section_menu .categorie h3 {
  font-weight: normal;
  margin: 20px 0px 20px 0px;
}

.section_menu .categorie h3 .style_h3 {
  border-bottom: 3px solid;
  border-color: #99E2D0;
  padding-bottom: 5px;
}

.section_menu .categorie .plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 0px;
  border-color: transparent;
  -webkit-box-shadow: 1px 1px 10px 1px silver;
          box-shadow: 1px 1px 10px 1px silver;
  margin: 10px 0px 10px 0px;
  background-color: white;
  overflow: hidden;
  -webkit-animation: 1.5s linear 0.2s apparition;
          animation: 1.5s linear 0.2s apparition;
  /*durée, fonction, keyframes */
}

.section_menu .categorie .plat .nom_plat {
  display: block;
  height: 35px;
  padding: 10px 0px 0px 10px;
  font-size: 0.9em;
  width: 100%;
  position: relative;
}

.section_menu .categorie .plat .nom_plat h4 {
  display: block;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.section_menu .categorie .plat .nom_plat .description {
  display: block;
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.section_menu .categorie .plat .nom_plat .price {
  font-weight: bold;
  padding-left: 10px;
  position: absolute;
  right: 5%;
  bottom: 10%;
}

.section_menu .categorie .plat .check {
  background: #99E2D0;
  width: 65px;
  border-radius: 0px 10px 10px 0px;
  border-width: 2px;
  border-color: #99E2D0;
  margin: 0px -80px 0px 0px;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
}

.section_menu .categorie .plat .check .rotate_check {
  padding-top: 25%;
  padding-left: 30%;
}

.section_menu .categorie .plat .check .fa-check-circle {
  color: white;
  background-color: #99E2D0;
  border-radius: 50%;
  border-color: #99E2D0;
  border-width: 2px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.section_menu .categorie .plat:hover .check {
  margin-right: -1px;
}

.section_menu .categorie .plat:hover .fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.section_menu button.commander {
  display: block;
  margin: 30px auto 50px auto;
  width: 150px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .index .localisation {
    width: 100%;
    z-index: 2;
  }
  .index .explorateur {
    width: 44%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
    border-right: solid #f2f2f2 1px;
  }
  .index .explorateur h2 {
    padding-bottom: 10px;
  }
  .index .fonctionnement {
    width: 44%;
    text-align: center;
    padding: 20px;
  }
  .index .fonctionnement h2 {
    padding-bottom: 10px;
  }
  .index .restaurant {
    width: 100%;
  }
  footer {
    text-align: center;
  }
  footer img {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  .index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .index .localisation {
    width: 100%;
    z-index: 2;
  }
  .index .explorateur {
    width: 45%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
    border-right: solid #f2f2f2 1px;
  }
  .index .explorateur h2 {
    padding-bottom: 10px;
  }
  .index .fonctionnement {
    width: 45%;
    text-align: center;
    padding: 20px;
  }
  .index .fonctionnement h2 {
    padding-bottom: 10px;
  }
  .index .restaurant {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .index .restaurant h2 {
    display: inline;
    width: 100%;
    text-align: center;
  }
  .index .restaurant a {
    width: 50%;
  }
  .index .restaurant figure {
    max-height: 400px;
  }
  .index .restaurant figure img {
    -o-object-position: center;
       object-position: center;
  }
  .section_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section_menu .nom_restaurant {
    width: 100%;
  }
  .section_menu .categorie {
    width: 30%;
  }
  .section_menu .plat {
    height: 60px;
  }
  .section_menu .plat .description {
    padding-top: 10px;
  }
  .section_menu .plat .rotate_check {
    padding-top: 40%;
    padding-left: 30%;
  }
  footer {
    text-align: center;
    height: 150px;
    padding-top: 30px;
  }
  footer img {
    margin-right: auto;
    margin-left: auto;
  }
}

/* loading spinner */
.loading_spinner {
  position: absolute;
  width: 100px;
  height: 100px;
  border-top: 3px solid #9356DC;
  border-bottom: 3px solid #9356DC;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  padding: 10px;
  -webkit-animation: spinningOne 1.5s linear;
          animation: spinningOne 1.5s linear;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  /*empeche la repetition */
}

.index {
  -webkit-animation-name: background_spinning;
          animation-name: background_spinning;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

.localisation {
  background-color: #eaeaea;
  color: #353535;
  height: 20px;
  text-align: center;
  padding: 10px 20% 10px 20%;
  -webkit-box-shadow: inset 0 5px 5px -5px grey;
          box-shadow: inset 0 5px 5px -5px grey;
}

.localisation .selection_localisation {
  width: 100px;
  background-color: transparent;
  border-color: transparent;
}

.explorateur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f6f6f6;
  margin: 0;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 20px 20px 20px;
  text-align: center;
  height: auto;
}

h2 {
  margin: 0;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

.fonctionnement h2 {
  padding-top: 20px;
}

.fonctionnement .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  border-radius: 15px 15px 15px 15px;
  height: 50px;
  width: 90%;
  margin: 10px 0px 10px 0px;
}

.fonctionnement .step:hover {
  background-color: #f2eafb;
}

.fonctionnement .step:hover .fas {
  color: #9356DC;
}

.fonctionnement .step .number {
  border-radius: 20px 20px 20px 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  color: white;
  background-color: #9356DC;
  margin-left: -10px;
}

.fonctionnement .step .fas {
  display: block;
  color: #898989;
  max-height: 20px;
  height: 18px;
  max-width: 20px;
  width: 18px;
  padding-left: 20px;
}

.fonctionnement .step .text_step {
  margin-left: 20px;
}

.restaurant {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant h2 {
  padding: 20px 0px 0px 20px;
}

.restaurant a {
  text-decoration: none;
  color: black;
  z-index: 1;
}

.restaurant a:hover {
  text-decoration: none;
  color: black;
}

.restaurant figure {
  position: relative;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
}

.restaurant figure img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant figure .image_position1 {
  -o-object-position: bottom;
     object-position: bottom;
}

@media (min-width: 500px) {
  .restaurant figure .image_position1 {
    -o-object-position: 25% 50%;
       object-position: 25% 50%;
  }
}

.restaurant figure .image_position2 {
  -o-object-position: right 60%;
     object-position: right 60%;
}

.restaurant figure .new {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #99E2D0;
  color: #278870;
  width: auto;
  padding: 7px 15px 7px 15px;
  border-radius: 2px;
  font-family: "Roboto";
  font-weight: bold;
}

.restaurant figure figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant figure figcaption .text_figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}

.restaurant figure figcaption .text_figcaption h3 {
  margin: 0;
}

.restaurant figure figcaption .heart {
  display: block;
  position: absolute;
  bottom: 10%;
  right: 3%;
}

.restaurant figure figcaption .fa-heart {
  color: black;
  font-size: 1.3em;
}

.restaurant figure figcaption .fa-heart:before {
  content: "\f004";
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.restaurant figure figcaption .fa-heart:hover:before {
  color: #ce68da;
  font-weight: bold;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */