footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: white;
    line-height: 1.5em;
    padding-left: 40px;
    padding-bottom: 40px;

        img {
            display: block;
            filter: invert(98%) sepia(89%) saturate(0%) hue-rotate(322deg) brightness(108%) contrast(102%);
            width: 100px;
            padding: 20px 0px 10px 0px;
        }

        .fas {
            width: 20px;
            padding-right: 5px;
        }

        a {
            color: white;
            text-decoration: none;

            &:hover {
                text-decoration: none;
                color: white;
            }
        }
  }