/* partie index */
body {
  margin: 0;
  padding: 0;
}

nav {
  display: none; 
}

.logo {
  width: 40%;
  padding: 10px 30% 0px 30%;

}

.localisation {
  background-color: #eaeaea;
  height: 20px;
  text-align: center;
  padding: 15px;
  border-top: 2px solid grey;
}

.explorateur {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  margin: 0;
  align-content: center;
  justify-content: space-around;
  padding: 20px 20px 20px 20px;
  text-align: center;
  height: auto;
}

.explorateur button {
  background: linear-gradient(180deg,#FF79DA, #9356DC);
  border-radius: 20px 20px 20px 20px;
  border-width: 1px;
  height: 40px;
  color: white;
  width: auto;
  align-self: center;
  margin-top: 20px;
}

h2 {
  margin: 0;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.fonctionnement div {
  display: flex;
  background-color: #f2f2f2;
  border-radius: 20px 20px 20px 20px;
  height: 50px;
  width: 60%;
  align-content: center;
  margin: 10px 0px 10px 0px;
}

.restaurant {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.restaurant figure {
  max-width: 90%;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  max-height: 200px;
  margin: 20px 20px 20px 20px;
}

.restaurant figcaption {
  display: flex;
  height: 100px;
  justify-content: center;
  flex-wrap: wrap;
}

figcaption h3 {
  margin: 0;
}

.restaurant figure img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 150px;
  object-fit: cover;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: grey;
  color: white;
  line-height: 1.5em;
  padding-left: 40px;
  padding-bottom: 40px;
}