/* loading spinner */
.loading_spinner {
    position: absolute;
    width: 100px;
    height: 100px;
    border-top: 3px solid $primary_color;
    border-bottom: 3px solid $primary_color;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    padding: 10px;
    animation: spinningOne 1.5s linear;
    animation-duration: 3s;
    animation-fill-mode: forwards; /*empeche la repetition */ 
}

.index {
    animation-name : background_spinning;
    animation-duration: 3s;
    animation-timing-function: steps(1, end);
}

.localisation {
    background-color: #eaeaea;
    color: #353535;
    height: 20px;
    text-align: center;
    padding: 10px 20% 10px 20%;
    box-shadow: inset 0 5px 5px -5px grey;

        .selection_localisation {
            width: 100px;
            background-color: transparent;
            border-color: transparent;
        }
  }
  
  .explorateur {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    margin: 0;
    align-content: center;
    justify-content: space-around;
    padding: 20px 20px 20px 20px;
    text-align: center;
    height: auto;
  }
  
  h2 {
    margin: 0;
  }
  
  .fonctionnement {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;

        h2 {
            padding-top: 20px;
        }

        .step {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: start;
            align-items: center;
            background-color: #f2f2f2;
            border-radius: 15px 15px 15px 15px;
            box-shadow: #898989;
            height: 50px;
            width: 90%;
            margin: 10px 0px 10px 0px;
            
                &:hover {

                    background-color: lighten($primary-color, 35%);

                    .fas {
                        color: $primary-color;
                    }
                }

                .number {
                    border-radius: 20px 20px 20px 20px;
                    height: 20px;
                    width: 20px;
                    text-align: center;
                    border-width: 1px;
                    border-style: solid;
                    border-color: transparent;
                    color: white;
                    background-color: $primary-color;
                    margin-left: -10px;
                }

                .fas {
                    display: block;
                    color: #898989;
                    max-height: 20px;
                    height: 18px;
                    max-width: 20px;
                    width: 18px;
                    padding-left: 20px;
                }

                .text_step {
                    margin-left: 20px;
                }
        }
  }
  

  
    .restaurant {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

        h2 {
            padding: 20px 0px 0px 20px;
        }

        a {
            text-decoration: none;
            color: black;
            z-index: 1;

                &:hover {
                    text-decoration: none;
                    color: black;
                }
        }

        figure {
            position: relative;
            background-color: white;
            border-radius: 20px 20px 20px 20px;
            margin: 20px 20px 20px 20px;

                img {
                    width: 100%;
                    border-radius: 20px 20px 0px 0px;
                    height: 150px;
                    object-fit: cover;


                }

                .image_position1 {
                    object-position: bottom;

                    @media (min-width: 500px) {
                        object-position: 25% 50%;
                    }
                }

                .image_position2 {
                    object-position: right 60%;
                }

                .new {
                    display: block;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    background-color: $third-color;
                    color: darken($third-color, 40%);
                    width: auto;
                    padding: 7px 15px 7px 15px;
                    border-radius: 2px;
                    font-family: $text-police;
                    font-weight: bold;
                }

                figcaption {
                    display: flex;
                    height: 50px;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;

                        .text_figcaption {
                            display: flex;
                            flex-direction: column;
                            padding-left: 20px;

                            h3 {
                                margin: 0;
                            }
                        }
            
                        .heart {
                            display: block;
                            
                                .fas {
                                    display: none;
                                }
            
                                .far {
                                    display: block;
                                    padding: 10px 30px 1px 0px;
                                    background: #353535;
                                    background-clip: text;
                                    -webkit-background-clip: text;
                                    color: transparent;
                                    z-index: 2;
                                }
                        }
            
                        .heart:hover {
                            animation: 300ms heart linear;
                                .fas {
                                    padding: 10px 30px 1px 0px;
                                    display: block;
                                    background: $degrade_color;
                                    background-clip: text;
                                    -webkit-background-clip: text;
                                    color: transparent;
                                    z-index: 2;
                                }
            
                                .far {
                                    display: none;
                                }
                        }

                }
        }

  }